<form action="/" method="post">
  <div>
    <label>producto</label>
    <input type="text" name="producto">
  </div>
  <div>
    <label>precio</label>
    <input type="number" name="precio">
  </div>
  <div>
    <label>thumbnail</label>
    <input type="file" name="file">
  </div>
  <button  type="submit" class="btn btn-primary">Submit</button>
</form>