<form action="/login" method="post" id="login">
    <input type="text" id="username" name="username" placeholder="usernamel">
    <input type="password"id="password" name="password" placeholder="password">
    <input id="btn" type="submit" value="iniciar sesion">

</form>

    <button onclick="location.href='/register'">no tenes cuenta? registrate</button>