form(action="/", method="post") 
    label nombre
    input(type="text", name="nombre") 
    label precio
    input(type="number", name="precio") 
    label foto
    input(type="file", name="foto") 
    button(type="submit") submit