<form id="chat">
    <input type="email" name="user" id="user" placeholder="mail">
    <input type="text" name="nombre" id="nombre" placeholder="nombre">
    <input type="text" name="apellido" id="apellido" placeholder="apellido">
    <input type="number" name="edad" id="edad" placeholder="edad">
    <input type="text" name="alias" id="alias" placeholder="alias">
    <input type="text" name="url avatar" id="urlAvatar" placeholder="url avatar">
    <input type="text" name="mensaje" id="message" placeholder="mensaje">
    <input type="submit" value="enviar">
</form>